---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  topDescription?: string;
  bottomDescription: string;
  imagePath: string;
  altText: string;
}

const {  topDescription, bottomDescription, imagePath, altText } =
  Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,webp}'
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
---

<a href='/'>
  <div class='flex flex-col gap-3 bg-inherit'>
    <div class="h-52">
      <Image
        src={images[imagePath]()}
        alt={altText}
        class='object-cover h-full w-full rounded-sm'
      />
    </div>

    <div class='border border-1 border-brown-dark p-1'>
      <p>
        {topDescription}
      </p>
      <h3>
        {altText}
      </h3>
      <p>
        {bottomDescription}
      </p>
    </div>
  </div>
</a>

<style>
  h3 {
    margin: 0;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  p {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1rem;
  }
  p:first-child {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  a {
    width: 100%;
    text-decoration: none;
    background-color: inherit;

    & :hover {
      opacity: 0.9;
    }
  }
</style>
